<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aliquid. Deleniti distinctio rerum ducimus quis voluptate quam, quia velit assumenda id non dicta,
         nesciunt odio. Numquam nihil explicabo ipsa eaque.
    </p>
    <img src="/img/pexels-pixabay-60597.jpg" alt="">
</body>
</html>